<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CMyNotes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CMyNotesImport.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>517C8DD21FB563DA009E35D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>517C8DF01FB563DA009E35D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>517C8DFB1FB563DA009E35D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51D442361FB9F556002B6357</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
